html {
  box-sizing: border-box;
  font-family: "Pixelify Sans", sans-serif;
  color: #fff;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #11202c;
  height: 100vh;
}
