.navigationBar {
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: #0d1821;
  -webkit-app-region: drag;
}

.navigationBar__button {
  margin: 2px;
  padding: 5px;
  width: 30px;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  background-color: #ededed00;
  -webkit-app-region: no-drag;
}

.navigationBar__button:nth-child(1):hover {
  background-color: #c0c02a;
}

.navigationBar__button:nth-child(2):hover {
  background-color: #2d8b29;
}

.navigationBar__button:nth-child(3):hover {
  background-color: #ff0000;
}

.navigationBar__button:nth-child(1):active {
  background-color: #cccc38;
}

.navigationBar__button:nth-child(2):active {
  background-color: #39b135;
}

.navigationBar__button:nth-child(3):active {
  background-color: #ff4d4d;
}

.navigationBar__button:active {
  background-color: #fafafa;
}

.navigationBar__icons {
  font-size: 13px;
}
