.sections {
  width: 100%;
  height: calc(100vh - 105px);
}

.section_container {
  display: flex;
  padding-bottom: 15px;
  background-color: #0d1821;
  justify-content: space-around;
}

.sections_button {
  width: 100%;
  height: 50px;
  color: #ccc;
  font-family: "Pixelify Sans", sans-serif;
  border: none;
  background-color: #0d1821;
  cursor: pointer;
}

.sections_button:hover {
  color: #34adf8;
}

.section_container button {
  margin-bottom: 10px;
}

.sections__buttonText {
  display: block;
  margin: 6px;
  font-size: 15px;
  margin-top: 5px;
}

.sections__buttonIcon {
  margin-top: 5px;
  font-size: 15px;
}

.sections__currentSection {
  color: #34adf8;
}

.loaderContainer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: #34adf8;
}

.section__loadingBar {
  display: block;
  width: 100%;
  position: relative;
  background-color: #0d1821;
  border-right: 2px solid #0d1821;
}
.section__loader {
  display: block;
  height: 19px;
  background-color: green;
  position: absolute;
  bottom: 0;
  left: 0;
}

.section__loadingBar::before {
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 1;
}

.section__loadingBar:nth-child(1) .section__loader {
  width: 100%;
  text-align: center;
}

.section__loadingBar:nth-child(2) .section__loader {
  width: 100%;
  text-align: center;
}

.section__loadingBar:nth-child(3) .section__loader {
  width: 100%;
  text-align: center;
}

.section__loadingBar--configuration {
  width: 100%;
  background-color: #0d1821;
}

.lighthouse {
  display: flex;
  gap: 20px;
  height: 100%;
}

.lighthouse__form {
  flex-direction: column;
  width: 70%;
  display: flex;
  gap: 25px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.lighthouse__inputs {
  width: 80%;
}

.buttons {
  width: 40%;
}

.button {
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-family: "Pixelify Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  background-color: #2196f3;
  color: #fff;
}

.lighthouse__nameInput {
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 50px;
  border: none;
  outline: none;
}

.lightohouse__about {
  display: flex;
  width: 30%;
}

.lighthouse__aboutContainer {
  width: 70%;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  align-items: center;
}
