.sections {
  width: 100%;
}

.section_container {
  display: flex;
  gap: 5px;
  background-color: #0d1821;
  justify-content: space-around;
  margin-bottom: 15px;
}

.section__containerBtn {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.loadingBar {
  background-color: rgb(110, 110, 110);
  width: 100%;
  height: 19px;
}

.progress-bar {
  width: 50%;
  height: 19px;
  position: relative;
  top: -19px;
  background-color: green;
}

.progressBar__value {
  width: 100%;
  text-align: center;
  position: relative;
  top: -38px;
  height: 0;
  color: #ffffff;
}

.sections_button {
  width: 100%;
  height: 50px;
  color: #ccc;
  font-family: "Pixelify Sans", sans-serif;
  border: none;
  background-color: #0d1821;
  cursor: pointer;
  margin-bottom: 10px;
}

.sections_button:hover {
  color: #34adf8;
}

.sections__buttonText {
  display: block;
  margin: 6px;
  font-size: 15px;
  margin-top: 5px;
}

.sections__buttonIcon {
  margin-top: 5px;
  font-size: 15px;
}

.sections__currentSection {
  color: #34adf8;
}

.loaderContainer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: #34adf8;
}

.section__loadingBar {
  display: block;
  width: 100%;
  position: relative;
  background-color: #0d1821;
  border-right: 2px solid #0d1821;
}
.section__loader {
  display: block;
  height: 19px;
  background-color: green;
  position: absolute;
  bottom: 0;
  left: 0;
}

.section__loadingBar::before {
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 1;
}

.section__loadingBar:nth-child(1) .section__loader {
  width: 100%;
  text-align: center;
}

.section__loadingBar:nth-child(2) .section__loader {
  width: 100%;
  text-align: center;
}

.section__loadingBar:nth-child(3) .section__loader {
  width: 100%;
  text-align: center;
}

.section__loadingBar--configuration {
  width: 100%;
  background-color: #0d1821;
}

.lighthouse {
  display: flex;
  gap: 20px;
  height: calc(100vh - 134px);
}

.lighthouse__form {
  flex-direction: column;
  width: 70%;
  display: flex;
  gap: 25px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.lighthouse__inputs {
  width: 80%;
}

.buttons {
  width: 40%;
}

.button {
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-family: "Pixelify Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  background-color: #2196f3;
  color: #fff;
}

.button:hover {
  background-color: hsl(207, 90%, 59%);
}

.button:active {
  background-color: hsl(207, 90%, 64%);
}

.lighthouse__nameInput {
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 50px;
  border: none;
  outline: none;
  font-family: "Pixelify Sans", sans-serif;
  text-transform: capitalize;
  font-size: 15px;
  letter-spacing: 0.3rem;
}

.lightohouse__about {
  display: flex;
  width: 50%;
  margin: 20px;
}

.lighthouse__aboutContainer {
  width: 70%;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 15px auto;
  align-items: center;
}

/* progress bars */

.lighthouse__progressBar {
  display: none;
}

.axe__progressBar {
  display: none;
}

.spider__progressBar {
  display: none;
}
