.windowPopup {
    background-color: #a73f35;
    width: 400px;
    height: 300px;
    border-radius: 5px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: white;
}

.windowPopup-header {
    background-color: #0d1821;
    color: white;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    font-size: 16px;
}

.windowPopup-close {
    background: none;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.windowPopup-content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

.warningIcon {
    width: 30px;
}